.loading {
    width: 100%;
    height: 100vh;
    background: url(../images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    position: relative;
    &__title {
        padding-top: 242px;
        font-size: 50px;
        font-weight: 500;
        line-height: 61px;
        font-family: 'Masque';
        background: -webkit-linear-gradient(180deg, #FFBA10 0%, #FC7712 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    &__subtitle {
        font-size: 19px;
        font-weight: 700;
        line-height: 24px;
        color: #8E8E8E;
        padding-top: 1px;
        text-align: center;
    }
    &__progress-text {
        text-align: center;
        padding-top: 43px;
        font-size: 14px;
        color: #B8B8B8;
    }
    &__progress-bar {
        margin: 16px auto 0;
        min-width: 307px;
        height: 4px;
        background: #E2E2E2;
        border-radius: 3px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 4px;
            width: 50%;
            min-width: 10px;
            max-width: 100%;
            background: linear-gradient(180deg, #FFBA10 0%, #FC7712 100%);
            border-radius: 3px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .loading {
        width: 100%;
        height: 100vh;
        background: url(../images/bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: cover;
        position: relative;
        &__title {
            padding-top: 242px;
            font-size: 50px;
            font-weight: 500;
            line-height: 61px;
            font-family: 'Masque';
            background: -webkit-linear-gradient(180deg, #FFBA10 0%, #FC7712 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
        }
        &__subtitle {
            font-size: 19px;
            font-weight: 700;
            line-height: 24px;
            color: #8E8E8E;
            padding-top: 1px;
            text-align: center;
        }
        &__progress-text {
            text-align: center;
            padding-top: 43px;
            font-size: 14px;
            color: #B8B8B8;
        }
        &__progress-bar {
            margin: 16px auto 0;
            min-width: 307px;
            height: 4px;
            background: #E2E2E2;
            border-radius: 3px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 4px;
                width: 50%;
                min-width: 10px;
                max-width: 100%;
                background: linear-gradient(180deg, #FFBA10 0%, #FC7712 100%);
                border-radius: 3px;
            }
        }
    }
}


@media only screen and (max-width: 320px) {
    .loading__title {
        font-size: 43px;
    }
    .loading__subtitle {
        font-size: 18px;
    }
    .loading__progress-bar {
        width: 300px;
    }
}