.profile {
    position: relative;
    height: 100vh;
    width: 100%;
    &__nav {
        padding: 38px 19px 25px 19px;
        ul {
            padding-left: 0;
            display: flex;
            align-items: center;
            column-gap: 22px;
            justify-content: center;
        }
        &-link {
            font-size: 17px;
            font-weight: 700;
            color: #717171;
            text-transform: uppercase;
            &-active {
                background: -webkit-linear-gradient(270deg, #FFBA10 0%, #FC7712 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background: linear-gradient(270deg, #FFBA10 0%, #FC7712 100%);
                    border-radius: 6px;
                    bottom: -3.7px;
                    left: 0;
                }
            }
        }
    }
    &__wrapper {
        display: flex;
        margin-left: 15px;
        column-gap: 16.5px;
        position: relative;
    }
    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__right {
        padding-top: 8px;
    }
    &__avatar {
        width: 109px;
        height: 109px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    &__balance {
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
        }
        &-sum {
            text-align: center;
            font-weight: 600;
            font-size: 13px;
            color: #8B8B8B;
            line-height: 18px;
            margin-right: 7px;
            span {
                font-weight: 700;
                color: #6E6E6E;
                font-size: 22px;
            }
        }
        &-replenish {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            font-size: 33px;
            font-weight: 700;
            background: linear-gradient(180deg, #FFBA10 0%, #FC7712 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
    }
    &__bonus {
        padding-top: 5px;
        font-weight: 700;
        font-size: 13px;
        color: #FE9C11;
    }
    &__bank-card {
        margin-top: 9.15px;
        width: 143px;
        height: 86px;
        background: #E9E9E9;
        border-radius: 6px;
        &-block {
            margin-top: 18px;
        }
        &-title {
            font-size: 13px;
            font-weight: 600;
            color: #8B8B8B;
            text-align: center;
        }
        &-number {
            padding-top: 29px;
            font-size: 13px;
            font-weight: 700;
            color: #6E6E6E;
            display: flex;
            column-gap: 10px;
            justify-content: center;
        }
        &-logo {
            padding-top: 9.8px;
            padding-left: 103px;
        }
        &-upload {
            margin: 7px 7.5px 0;
            padding: 7.8px 19px 10.2px 20px;
            font-size: 14px;
            font-weight: 700;
            color: #fff;
            border-radius: 20px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(270deg, #FFBA10 0%, #FC7712 100%);
        }
    }
    &__settings {
        position: absolute;
        top: 0;
        right: 15px;
    }
    &__username {
        display: flex;
        align-items: center;
        column-gap: 8px;
        span {
            font-size: 14px;
            color: #BABABA;
        }
    }
    &__sex {
        padding-top: 14px;
        display: flex;
        align-items: center;
        column-gap: 6px;
        span {
            font-size: 14px;
            color: #BABABA;
        }
    }
    &__birthdate {
        padding-top: 14px;
        display: flex;
        align-items: center;
        column-gap: 5px;
        span {
            font-size: 14px;
            color: #BABABA;
        }
    }
    &__telephone-number {
        padding-top: 14px;
        display: flex;
        align-items: center;
        column-gap: 8px;
        span {
            font-size: 14px;
            color: #BABABA;
        }
    }
    &__email {
        padding-top: 14px;
        display: flex;
        align-items: center;
        column-gap: 5px;
        span {
            font-size: 14px;
            color: #BABABA;
        }
    }
    &__active-promocode {
        padding-top: 23px;
        padding-left: 22px;
        font-size: 13px;
        font-weight: 600;
        color: #8B8B8B;
    }
    &__promocode-input {
        margin-top: 10px;
        width: 182px;
        position: relative;
        input {
            width: 182px;
            height: 32px;
            padding: 8px 70px 9px 11px;
            border: 1px solid #F9F9F9;
            border-radius: 16px;
            font-size: 12px;
            color: #6E6E6E;
            &::placeholder {
                color: #6E6E6E;
            }
        }
    }
    &__promocode-scanner {
        position: absolute;
        top: 10px;
        left: 118px;
    }
    &__promocode-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        height: 32px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        padding: 7px 13px 9px 12px;
        border: none;
        background: linear-gradient(180deg, #FFBA10 0%, #FC7712 100%);
    }
    &__surprize {
        margin-top: 13px;
        display: flex;
        align-items: center;
        column-gap: 7px;
        &-logo {
            width: 77px;
            height: 77px;
            border-radius: 50%;
            border: 1px solid #F8F8F8;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-info {
            font-size: 13px;
            font-weight: 600;
            color: #8B8B8B;
            padding-bottom: 6px;
        }
        &-company {
            font-size: 15px;
        }
        &-sum {
            font-size: 19px;
            color: #FE9C11;
        }
        &-btn {
            padding: 3px 13.5px 6px 16px;
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            border-radius: 15.5px;
            border: none;
            background: linear-gradient(180deg, #FFBA10 0%, #FC7712 100%);
            display: flex;
            align-items: center;
            column-gap: 6.5px;
        }
    }
    &__info {
        width: 348px;
        margin: 21px auto 7px;
        font-size: 12px;
        color: #C3C3C3;
        text-align: center;
    }
    &__user-agreement {
        display: block;
        margin: 0 auto;
        font-size: 12px;
        color: #C3C3C3;
        text-decoration: dashed underline;
        text-align: center;
        padding-bottom: 88px;
    }
    &__footer {
        margin-top: 107px;
        width: 100%;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        padding-bottom: 10px;
        background: #fff;
        &-wrapper {
            display: flex;
            align-items: flex-end;
            column-gap: 62px;
            justify-content: center;
        }
        .profile__profile {
            position: relative;
            width: 46px;
            display: flex;
            justify-content: center;
            &-active {
                position: absolute;
                top: -18px;
                right: 0;
            }
        }
        .profile__prizes {
            width: 46px;
            display: flex;
            justify-content: center;

        }
        .profile__scanner {
            display: flex;  
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border: 4px solid #A6A6A6;
            border-radius: 50%;
            position: relative;
            animation: pulseGray 5s infinite;
            &-border {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border: 4px solid #838383;
                border-radius: 50%;
            }
        }        
    }
}

@media only screen and (max-width: 480px) {
    .profile {
        position: relative;
        height: 100vh;
        width: 100%;
        &__nav {
            padding: 38px 19px 25px 19px;
            ul {
                padding-left: 0;
                display: flex;
                align-items: center;
                column-gap: 22px;
                justify-content: center;
            }
            &-link {
                font-size: 17px;
                font-weight: 700;
                color: #717171;
                text-transform: uppercase;
                &-active {
                    background: -webkit-linear-gradient(270deg, #FFBA10 0%, #FC7712 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 5px;
                        background: linear-gradient(270deg, #FFBA10 0%, #FC7712 100%);
                        border-radius: 6px;
                        bottom: -3.7px;
                        left: 0;
                    }
                }
            }
        }
        &__wrapper {
            display: flex;
            margin-left: 15px;
            column-gap: 16.5px;
            position: relative;
        }
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__right {
            padding-top: 8px;
        }
        &__avatar {
            width: 109px;
            height: 109px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        &__balance {
            display: flex;
            align-items: center;
            img {
                margin-right: 10px;
            }
            &-sum {
                text-align: center;
                font-weight: 600;
                font-size: 13px;
                color: #8B8B8B;
                line-height: 18px;
                margin-right: 7px;
                span {
                    font-weight: 700;
                    color: #6E6E6E;
                    font-size: 22px;
                }
            }
            &-replenish {
                width: 33px;
                height: 33px;
                border-radius: 50%;
                font-size: 33px;
                font-weight: 700;
                background: linear-gradient(180deg, #FFBA10 0%, #FC7712 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
            }
        }
        &__bonus {
            padding-top: 5px;
            font-weight: 700;
            font-size: 13px;
            color: #FE9C11;
        }
        &__bank-card {
            margin-top: 9.15px;
            width: 143px;
            height: 86px;
            background: #E9E9E9;
            border-radius: 6px;
            &-block {
                margin-top: 18px;
            }
            &-title {
                font-size: 13px;
                font-weight: 600;
                color: #8B8B8B;
                text-align: center;
            }
            &-number {
                padding-top: 29px;
                font-size: 13px;
                font-weight: 700;
                color: #6E6E6E;
                display: flex;
                column-gap: 10px;
                justify-content: center;
            }
            &-logo {
                padding-top: 9.8px;
                padding-left: 103px;
            }
            &-upload {
                margin: 7px 7.5px 0;
                padding: 7.8px 19px 10.2px 20px;
                font-size: 14px;
                font-weight: 700;
                color: #fff;
                border-radius: 20px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(270deg, #FFBA10 0%, #FC7712 100%);
            }
        }
        &__settings {
            position: absolute;
            top: 0;
            right: 15px;
        }
        &__username {
            display: flex;
            align-items: center;
            column-gap: 8px;
            span {
                font-size: 14px;
                color: #BABABA;
            }
        }
        &__sex {
            padding-top: 14px;
            display: flex;
            align-items: center;
            column-gap: 6px;
            span {
                font-size: 14px;
                color: #BABABA;
            }
        }
        &__birthdate {
            padding-top: 14px;
            display: flex;
            align-items: center;
            column-gap: 5px;
            span {
                font-size: 14px;
                color: #BABABA;
            }
        }
        &__telephone-number {
            padding-top: 14px;
            display: flex;
            align-items: center;
            column-gap: 8px;
            span {
                font-size: 14px;
                color: #BABABA;
            }
        }
        &__email {
            padding-top: 14px;
            display: flex;
            align-items: center;
            column-gap: 5px;
            span {
                font-size: 14px;
                color: #BABABA;
            }
        }
        &__active-promocode {
            padding-top: 23px;
            padding-left: 22px;
            font-size: 13px;
            font-weight: 600;
            color: #8B8B8B;
        }
        &__promocode-input {
            margin-top: 10px;
            width: 182px;
            position: relative;
            input {
                width: 182px;
                height: 32px;
                padding: 8px 70px 9px 11px;
                border: 1px solid #F9F9F9;
                border-radius: 16px;
                font-size: 12px;
                color: #6E6E6E;
                &::placeholder {
                    color: #6E6E6E;
                }
            }
        }
        &__promocode-scanner {
            position: absolute;
            top: 10px;
            left: 118px;
        }
        &__promocode-btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 42px;
            height: 32px;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            font-size: 13px;
            font-weight: 700;
            color: #fff;
            padding: 7px 13px 9px 12px;
            border: none;
            background: linear-gradient(180deg, #FFBA10 0%, #FC7712 100%);
        }
        &__surprize {
            margin-top: 13px;
            display: flex;
            align-items: center;
            column-gap: 7px;
            &-logo {
                width: 77px;
                height: 77px;
                border-radius: 50%;
                border: 1px solid #F8F8F8;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-info {
                font-size: 13px;
                font-weight: 600;
                color: #8B8B8B;
                padding-bottom: 6px;
            }
            &-company {
                font-size: 15px;
            }
            &-sum {
                font-size: 19px;
                color: #FE9C11;
            }
            &-btn {
                padding: 3px 13.5px 6px 16px;
                font-size: 12px;
                font-weight: 700;
                color: #fff;
                border-radius: 15.5px;
                border: none;
                background: linear-gradient(180deg, #FFBA10 0%, #FC7712 100%);
                display: flex;
                align-items: center;
                column-gap: 6.5px;
            }
        }
        &__info {
            width: 348px;
            margin: 21px auto 7px;
            font-size: 12px;
            color: #C3C3C3;
            text-align: center;
        }
        &__user-agreement {
            display: block;
            margin: 0 auto;
            font-size: 12px;
            color: #C3C3C3;
            text-decoration: dashed underline;
            text-align: center;
            padding-bottom: 88px;
        }
        &__footer {
            margin-top: 107px;
            width: 100%;
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            padding-bottom: 10px;
            background: #fff;
            &-wrapper {
                display: flex;
                align-items: flex-end;
                column-gap: 62px;
                justify-content: center;
            }
            .profile__profile {
                position: relative;
                width: 46px;
                display: flex;
                justify-content: center;
                &-active {
                    position: absolute;
                    top: -18px;
                    right: 0;
                }
            }
            .profile__prizes {
                width: 46px;
                display: flex;
                justify-content: center;
    
            }
            .profile__scanner {
                display: flex;  
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                border: 4px solid #A6A6A6;
                border-radius: 50%;
                position: relative;
                animation: pulseGray 5s infinite;
                &-border {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    border: 4px solid #838383;
                    border-radius: 50%;
                }
            }        
        }
    }
    
}


@media (min-width: 320px) and (max-width: 374px) {
    .profile {
        &__nav {
            padding: 38px 15px 25px;
            ul {
                column-gap: 20px;
            }
            &-link {
                font-size: 15px;
            }
        }
        &__wrapper {
            margin-left: 2px;
            column-gap: 3px;
            justify-content: center;
        }
        &__active-promocode {
            padding-left: 15px;
        }
        &__promocode-input {
            margin-top: 10px;
            width: 170px;
            position: relative;
            input {
                width: 170px;
                height: 32px;
                padding: 8px 61px 9px 6px;
                border: 1px solid #F9F9F9;
                border-radius: 16px;
                font-size: 12px;
                color: #6E6E6E;
                &::placeholder {
                    color: #6E6E6E;
                }
            }
        }
        &__promocode-scanner {
            left: 115px;
        }
        &__promocode-btn {
            width: 35px;
            padding: 7px 13px 9px 8px;
        }
        &__surprize {
            column-gap: 3px;
            &-btn {
                padding: 3px 13.5px 6px 13.5px;
                &::before {
                    left: 8px;
                }
            }
        }
        &__info {
            width: 300px;
        }
    }
}