.logo {
    display: flex;
    justify-content: center;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    font-weight: 500;
}

.nav-link.active {
    color: orange !important;
    font-weight: 700;
}
.navbar {
    padding: 0;
}
.collapse.show {
    display: block !important;
}

@media (max-width: 568px) {
    .header-line {
        gap: 5px !important;
    }

    .home-page__form {
        width: 315px;
    }
    .logo {
        max-width: 100%;
    }
    .auth-btns a{
        width: 100%;
    }
    .partner-logo {
        max-width: 200px;
    }
    .partner-logo-a {
        width: 160px;
    }
    #content {
        padding: 20px 10px;
    }
    .settings {
        height: auto !important;
    }
}
